<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: #bc84ff;
        font-size: 40pt;
    }
    h2 {
        color: #965ae0;
        font-size: 30pt;
    }

    p {
        font-size: 6pt;
        white-space: pre-line;
    }
</style>

<div>
    <h1>Klouser scrapeo</h1>
    <h2>Upload your CSV file</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <h2>{{ filename }}</h2><br>

    <button class="btn" data-clipboard-target="#users">
        Copy to clipboard
    </button>

    <p>n users: {{ userslen }}</p>
    <p id ="users">{{ userstoscrap }}</p>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script>
    var clip = new Clipboard('.btn');
  </script>