<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: #bc84ff;
        font-size: 40pt;
    }

    h2 {
        color: #965ae0;
        font-size: 30pt;
    }

    h3 {
        color: #672eac;
        font-size: 20pt;
    }

    p {
        font-size: 8pt;
        white-space: pre-line;
    }
</style>

<div>
    <h1>Klouser scrapeo</h1>
    <a href="/part1">part1</a>
    <h2>{{ filename }}</h2><br>

    <h2>Subir CSV de ProfileBud con bios</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        <h3>PhantomBuster followings result file</h3>
        <p><input type="file" name="filePB"></p>
        <h3>Scraped instagram profile data</h3>
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Submit"></p>
    </form>


</div>